@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Lora:ital@1&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

h1 {
  font-family: 'Baloo 2';
}

h2 {
  font-family: 'Lora';
}

p {
  font-family: 'Montserrat';
}

body {
  margin: 0;
  color: #363636;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
